<div class="modal-header">
  <h4 class="modal-title" id="modal-crear-comprador">Ingresar Comprador</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="cerrarCrearComprador()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="planillaComprador">

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
            Nombre
          </div>
          <div class="col">
            <input type="text" formControlName="nombre" class="form-control"
              [class]="planillaComprador.controls.nombre.valid?' is-valid':'is-invalid'">
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
            Telefono
          </div>
          <div class="col">
            <input type="phone" formControlName="telefono" class="form-control"
              [class]="planillaComprador.controls.telefono.valid?' is-valid':'is-invalid'">
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
            Correo Electronico
          </div>
          <div class="col">
            <input type="email" formControlName="correo" class="form-control"
              [class]="planillaComprador.controls.correo.valid?'':'is-invalid'">
          </div>
        </div>
      </li>
    </ul>

  </form>
</div>
<div class="modal-body border-top">
  <div [innerHTML]="mensaje"></div>
</div>
<div class="modal-footer">
  <div class="col text-start" *ngIf="quehacer=='actualizar'">
    <button type="submit" class="btn btn-outline-secondary" (click)="actualizarComprador()">Actualizar
      Comprador</button>
    <button type="submit" class="btn btn-outline-info ms-2" (click)="borrarPlanilla()">Limpiar
      Planilla</button>
  </div>
  <div class="col text-end" *ngIf="quehacer!=='actualizar'">
    <button type="submit" class="btn btn-primary" (click)="meterComprador()">Ingresar Comprador</button>
  </div>
</div>