<nav class="navbar navbar-dark bg-primary navbar-expand-lg mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Reservaciones NMG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" aria-current="page" routerLink="/" data-toggle="collapse"
            data-target=".navbar-collapse">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reservaciones
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/pedidos/reservaciones']"
                data-toggle="collapse" data-target=".navbar-collapse">Reservaciones</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/pedidos/compradores']"
                data-toggle="collapse" data-target=".navbar-collapse">Compradores</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/pedidos/productos']"
                data-toggle="collapse" data-target=".navbar-collapse.in">Productos</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/pedidos/lista']"
                data-toggle="collapse" data-target=".navbar-collapse">Pedidos</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/']" data-toggle="collapse"
                data-target=".navbar-collapse">Reservaciones</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/']" data-toggle="collapse"
                data-target=".navbar-collapse">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/']" data-toggle="collapse"
                data-target=".navbar-collapse.in">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/']" data-toggle="collapse"
                data-target=".navbar-collapse">Historial</a>
            </li>
          </ul>
        </li>
        <!--         <li class="nav-item dropdown">
          <a class="nav-link" [routerLinkActive]="['active']" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" routerLink="puntos-de-entrega">
            Puntos de Entrega
          </a>

        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/login']" data-toggle="collapse"
            data-target=".navbar-collapse">Salir</a>
        </li>
      </ul>
      <button class="btn btn-outline-light" type="button" [routerLink]="['/pedidos/crear']">Hacer
        Reservacion</button>
    </div>
  </div>
</nav>