<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="fw-light fs-1 mb-5">Area de Trabajo</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md my-2">
      <button class="btn btn-lg btn-outline-primary" type="button">Reservaciones</button>
    </div>
    <div class="col-md my-2">
      <button class="btn btn-lg btn-outline-primary" type="button">Servicios</button>
    </div>
    <div class="col-md my-2">
      <button class="btn btn-lg btn-outline-primary" type="button">Eventos</button>
    </div>
  </div>
</div>